html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: $WorkSans;
  font-weight: 400;
  height: 100%;
}

[class*="__container"] {
  max-width: 1488px;
  margin: 0 auto;
  padding: 0 20px;
}



a {
  text-decoration: none;
}

.row{
  // margin: 0 -10px;
  display: flex;
  flex-wrap: wrap;
}

.col{
  // margin-left: 10px;
  // margin-right: 10px;
  box-sizing: border-box;
}

// reset
img{
  max-width: 100%;
  height: auto;
}

h1,h2,h3,h4,h5,h6,p,ul,li{
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

ul,ol{
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-left: 0;
}

strong{
  font-weight: normal;
}

em{
  font-style: normal;
}
